# Core Framework
chainlit==2.9.6

# LangChain Core & Integrations
langchain-core==1.2.7
langchain-community==0.4.1
langchain-classic==1.0.1
langchain-chroma==1.1.0
langchain-huggingface==1.2.0
langchain-groq==1.1.1
langchain-text-splitters==1.1.0

# Vector Database
chromadb==1.4.1

# Embeddings & Models
sentence-transformers==5.2.0
transformers==4.57.6
rank-bm25==0.2.2

# Reranking
flashrank==0.2.10

# Environment & Utils
python-dotenv==1.2.1

# Pydantic
pydantic==2.12.5
pydantic-settings==2.12.0